body {
    background-color: #CCC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#resultado {
    margin: auto;
    background-color: #222;
    color: #0f0;
    padding: 15px;
    margin-top: 70px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}
#Volver {
    margin: auto;
    background-color: #222;
    color: rgb(130, 5, 5);
    padding: 15px;
    margin-top: 70px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}