body {
    margin: 0;
    padding: 0;
    background: #2b011b;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 700px;
}

h1 {
    margin-bottom: 30px;
    color: #48e;
    text-shadow: 0px 0px 8px #48e8;
    font-size: 2.2rem;
}

.card {
    background: #161616;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.card:hover {
    background: #1d1d1d;
    border: 1px solid rgb(19, 25, 33);
    transform: translateY(-3px);
    box-shadow: 0px 0px 10px #48e6;
}

.card a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}