* {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    background-color: #0F3460;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 90%;
    max-width: 600px;;
    margin: 120px auto;
    background-color: #FAF5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 30px;
}

.container h1 {
    color: #4C48E5;
    font-weight: bold;
    padding-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

#form__input {
    border-radius: 15px;
    padding: 15px;
    outline: none;
    min-width: 20%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #48E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

#form__input:focus-visible {
    outline: none;
}

#form__button {
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px;
    color: #272727;
    min-width: 20%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #48E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: lighter;
}

#form__button:active {
    background-color: #e4e1e1;
}

#result {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #505552;
    font-weight: bolder;
    font-size: 20px;
}
#Volver {
    margin: auto;
    background-color: #222;
    color: rgb(130, 5, 5);
    padding: 15px;
    margin-top: 70px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}



