.formulario {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    background-color: rgb(233, 224, 224);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(73, 4, 90, 0.915);

}

h1 {
    text-align: center;
    color: #cf1e1e;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: normal;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #181717;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #1a1919;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: #2a5298;
}

input::placeholder {
    color: #999;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #4e045a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    border-radius: 50px;


}

.submit-btn:hover {
    background-color: #0b0113e9;
}
.reset-btn {
    width: 100%;
    padding: 14px;
    background-color: #5a0a04;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    border-radius: 50px;


}

.reset-btn:hover {
    background-color: #0b0113e9;
}